#include <winresrc.h>
#include "Resource.h"

IDI_ICON1 ICON "icon.ico"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

1 VERSIONINFO
FILEVERSION 1,1,0,0
PRODUCTVERSION 1,1,0,0
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifndef NDEBUG
FILEFLAGS 0
#else
FILEFLAGS VS_FF_DEBUG
#endif
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP

{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "BinarySoftware"
            VALUE "FileDescription", "Moving and renaming files with ease."
            VALUE "FileVersion", "1.1.0.0"
            VALUE "LegalCopyright", "Copyright BinarySoftware (C) 2014"
            VALUE "OriginalFilename", "KongouFileMover.exe"
            VALUE "ProductName", "KongouFileMover"
            VALUE "ProductVersion", "1.1.0.0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x0409, 1200
    }
}
